/* ===== 颜色变量 ===== */
:root {
    --side-bar-bg-color: #B9E6C0;
    /* 侧边栏背景颜色 */
    --control-text-color: #1D4A3C;
    /* 控制文本颜色 */
    --background-color: #C7EDCC;
    /* 主背景颜色 */
    --background-mute: #B0E0B8;
    /* 稍深的背景颜色 */
    --background-soft: #B9E6C0;
    /* 中等深度的背景颜色 */
    --text-color: #1D4A3C;
    /* 文本颜色 */
    --border-color: rgba(29, 74, 60, 0.2);
    /* 边框颜色 */
    --link-color: #4183C4;
    /* 链接颜色 */
    --header-color: black;
    /* 标题颜色 */
    --code-bg-color: #B0E0B8;
    /* 行内代码背景颜色 */
    --codeblock-bg-color: #f7f3e9;
    /*  代码块背景颜色 */
    --blockquote-border-color: #1FAAA8;
    /* 引用块边框颜色 */
    --table-header-bg-color: #B9E6C0;
    /* 表格表头背景颜色 */
    --selection-bg-color: #D1FF79;
    /* 选中块的背景颜色 */
    --highlight-bg-color: #c0e3ec;
    /*  高亮块的颜色 */
    --h1-font-color: #1A8F37;
    /*  一级标题字体颜色 */
    --h2-bg-color: #8bda99;
    /* 二级标题背景颜色 */
    --quote-font-color: #2D6B4F;
    /* 引用块字体颜色 */
    --hr-color: #87B299;
    /* 分割线颜色 */
}

/* ===== 字体设置 ===== */
@include-when-export url(https://fonts.loli.net/css?family=Open+Sans:400italic,700italic,700,400&subset=latin,latin-ext);

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url('./github/open-sans-v17-latin-ext_latin-regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: normal;
    src: local('Open Sans Italic'), local('OpenSans-Italic'), url('./github/open-sans-v17-latin-ext_latin-italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url('./github/open-sans-v17-latin-ext_latin-700.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: bold;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('./github/open-sans-v17-latin-ext_latin-700italic.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD, U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}


/* ===== 基础样式 ===== */
html {
    font-size: 16px;
}

body {
    font-family: "Hannotate SC", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: var(--text-color);
    line-height: 1.6;
    background-color: var(--background-color);
}

#write {
    max-width: 99%;
    margin: 0 auto;
    padding: 30px;
    padding-bottom: 100px;
    background-color: var(--background-color);
}

@media only screen and (min-width: 1400px) {
    #write {
        max-width: 99%;
    }
}

@media only screen and (min-width: 1800px) {
    #write {
        max-width: 99%;
    }
}

/* ===== 链接样式 ===== */
a {
    color: var(--link-color);
}

/* ===== 标题样式 ===== */
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    color: var(--header-color);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}

h1 {
    color: var(--h1-font-color);
    text-align: center;
    font-size: 2.25em;
    line-height: 1.5;
    border-bottom: 1px solid #87B299;
}

h2 {
    display: inline-block;
    /* 让高亮块包裹标题 */
    font-size: 1.5em;
    line-height: 1.2;
}

h2::before {
    content: "";
    /* 伪元素内容 */
    position: absolute;
    /* 绝对定位 */
    top: 0;
    left: 0;
    width: 100%;
    /* 覆盖整个标题 */
    height: 100%;
    /* 覆盖整个标题 */
    background: var(--h2-bg-color);
    /* 高亮颜色 */
    z-index: -1;
    /* 将伪元素置于标题下方 */
    border-radius: 5px;
    /* 圆角效果 */
    transform: scale(1.6, 1.3);
    /* 稍微放大 */
}

h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
    color: #777;
}

/* ===== 段落和列表样式 ===== */
p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

blockquote {
    border-left: 4px solid var(--blockquote-border-color);
    padding: 0 15px;
    color: var(--quote-font-color);
    font-style: italic;
}

ul,
ol {
    padding-left: 30px;
}

/* ===== 表格样式 ===== */
table {
    padding: 0;
    word-break: initial;
}

table tr {
    border: 1px solid #DFE2E5;
    margin: 0;
    padding: 0;
}

table tr:nth-child(2n),
thead {
    background-color: var(--table-header-bg-color);
}

table th {
    font-weight: bold;
    border: 1px solid #DFE2E5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
}

table td {
    border: 1px solid #DFE2E5;
    margin: 0;
    padding: 6px 13px;
}

/* ===== 代码块样式 ===== */

.md-fences {
    color: #545454;
    background-color: var(--codeblock-bg-color);
    /*感觉米黄色还不错*/
    border-radius: 5px;
    padding-top: 30px;
}

/* Mac的三个小圆点 */
.md-fences::before {
    background: #fc625d;
    border-radius: 50%;
    box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
    content: ' ';
    height: 12px;
    left: 12px;
    margin-top: -20px;
    position: absolute;
    width: 12px;
}

/* ===== 行内代码样式 ===== */
code,
tt {
    border: none;
    background-color: var(--code-bg-color);
    border-radius: 3px;
    padding: 4px 4px 4px 4px;
    font-size: 0.9em;
    line-height: 1.5;
    vertical-align: middle;
}

/* ===== 任务列表样式 ===== */
.task-list-item p {
    font-size: 32px !important;
    color: var(--text-color);
}

.task-list-item input[type=checkbox] {
    display: inline-block !important;
    zoom: 140%;
}

.md-task-list-item>input {
    margin-left: -0.8em !important;
}


/* ===== 其他样式 ===== */
hr {
    height: 1px;
    padding: 0;
    margin: 16px 0;
    background-color: var(--hr-color);
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
}

/* 高亮块 */
mark {
    font-weight: bold;
    border-bottom: 0px solid #ffffff;
    background-color: var(--highlight-bg-color);
    border-radius: 2px;
    color: black;
    padding: 0 4px;
    margin: 0 2px;
}

/* 选中块 */
::selection {
    background-color: var(--selection-bg-color);
}